body {
	background-color: #151515;
	margin: 0;
	font-weight: 200;
}

div {
	width: 85%;
	margin: 0 auto;
	text-align: center;
	background-color: #247C04;
	color: #F2F2F2;
	padding: 1.5rem;
	font-family: Helvetica, sans-serif;
}

div h1, div h2 {
	padding: 1rem;
	font-weight: 200;
}

div h1 {
	color: #EDA63C;
}

div p {
	opacity: 0;
}

div p:nth-child(3n+2) {
	color: #000095;
	font-size: 1.5rem;
/*	text-align: left;*/
/*	padding-right: 15rem;*/
	position: relative;
}

div p:nth-child(5n+2) {
	color: #850000;
	font-size: 1.5rem;
/*	text-align: right;*/
/*	padding-left: 15rem;*/
	position: relative;
}

div p:nth-child(15n+2) {
	color: #EDA63C;
	font-size: 2rem;
	text-align: center;
}
