body {
	background-color: #111;
	margin: 0;
	font-weight: 200;
}

div {
	width: 85%;
	margin: 0 auto;
	text-align: center;
	background-color: #247C04;
	color: #F2F2F2;
	padding: 1.5rem;
}

div h1, div h2 {
	padding: 1rem;
	font-weight: 100;
}

div p {
	opacity: 0;
}

div p:nth-child(3n+2) {
	color: #0000D9;
	font-size: 1.5rem;
/*	text-align: left;*/
/*	padding-right: 15rem;*/
	position: relative;
}

div p:nth-child(5n+2) {
	color: #A90000;
	font-size: 1.5rem;
/*	text-align: right;*/
/*	padding-left: 15rem;*/
	position: relative;
}

div p:nth-child(15n+2) {
	color: #FEB74D;
	font-size: 2rem;
	text-align: center;
}
